.container {
    /* background-color: #7510F7; */
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
    color: white;
    padding-bottom: 18rem;
    text-align: center;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    /* border: hotpink solid 1px; */
}

.inner{
    padding: 9rem 1.5rem;
    width: 60%;
}

.title{
    font-size: 2rem;
    line-height: 1.125;
    font-weight: 800;
    margin-bottom: 1.5rem;
}

.subtitle{
    position: relative;
    font-size: 1.25rem;
    font-weight: 300;
    line-height: 1.5;
    text-align: center;
}

.subtitle{
    position: relative;
    /* display: block; */
}

.spantest{
    position: relative;
    display: inline-block;

}
.squiggle{
    position: absolute;
    width: 145px;
    height: 40px;
    overflow: visible;
    top: -6px;
}
mark {
    background: inherit;
    color: inherit;
    font-family: inherit;
    font-size: inherit;
}


@media only screen and (max-width: 768px){
    .container {
        padding-bottom: 10rem;
    }

    .inner{
        padding: 9rem 2rem;
        width: 100%;
    }

    .title{
        font-size: 1.7rem;
        
    }
    
    .subtitle
    {
        font-size: 1.2rem;
    }
}