.container{
    /* border: violet solid 1px; */
    margin-bottom: 150px;
}

.upper{
    color: white;
    text-align: center;
    background-color: #005CE6;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4rem 0 8rem 0;
}

.content{
    width: 50%;
}

.title{
    font-size: 2rem;
    font-weight: 800;
}

.subtitle{
    margin-top: 2.5rem;
    font-size: 1.2rem;
    font-weight: 300;
}


.list{
    margin-top: -100px;
}


@media only screen and (max-width: 768px){

 /*    .upper{
        padding: 4rem 0rem 8rem 0rem;
    } */


    .content{
        width: 90%;
        /* border: springgreen solid 1px; */
    }
}