.container{
    text-align: center;
    padding-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* border: hotpink solid 2px; */
}


.inner {
    max-width: 1344px;
}

.upper{
    padding: 3rem 1.5rem;
}

.upperin{
    padding: 0.75rem;
}

.title{
    font-size: 2rem ;
    font-weight: 800;
    color: #141c3a;
    line-height: 1.125 ;
    margin-bottom: 1.5rem;

}

.subtitle{
    font-size: 1.5rem ;
    font-weight: 300;
    line-height: 1.5;
    margin-bottom: 1.5rem;
}

.avatar{
    margin: 2rem 0;
    width: 217px;
}

/* LOWER BLOCK */

.lower{
    /* padding-top: 0.75rem; */
}

.lowerin{
    margin-bottom: -0.45rem;
}

@media only screen and (max-width: 768px){

.imagebot{
    width: 550px;
}

}

@media only screen and (max-width: 576px){

    .imagebot{
        width: 400px;
    }
    
}

@media only screen and (max-width: 430px){

    .imagebot{
        width: 300px;
    }
    
    }