.container{
    
    min-height: 3.25rem;
    padding: 1.2rem 0;
}

.inner {
    max-width: 1344px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    padding: 0.5rem 0.75rem;

}


.brand{
    /* background-color: rosybrown; */
}

.menu{
 
}

.item{
    font-size: 18px;
    font-weight: 500;
    color: #7510f7;

    cursor : pointer;
    text-decoration: none;

    border: #7510f7 solid 1.5px;
    border-radius: 20px;

    padding: 0.5rem 2rem;

    transition: all 0.2s ease-in-out;
    margin-left: 30px;
}

.item:hover{
    background-color: #7510f7;
    color: white;
}

.item2{
    font-size: 18px;
    font-weight: 500;
    color: rgb(29, 29, 29);
    margin-left: 30px;

    text-decoration: none;
    cursor: pointer;

    transition: all 0.2s ease-in-out;

}

.item2:hover{
    color: #7510f7;
}

.brand img{
    height: 48px;
}


@media only screen and (max-width: 768px){
    .brand img{
        height: 24px;
        background-color: tomato;
    }

    .item{
        font-size: 14px;
        font-weight: 500;
        color: #7510f7;
    
        cursor : pointer;
        text-decoration: none;
    
        border: #7510f7 solid 1.5px;
        border-radius: 20px;
    
        padding: 0.5rem 1.5rem;
    
        transition: all 0.2s ease-in-out;
        margin-left: 40px;
    }

    .item2{
        font-size: 14px;
        font-weight: 500;
        color: rgb(29, 29, 29);
        margin-left: 40px;
    
        text-decoration: none;
        cursor: pointer;
    
        transition: all 0.2s ease-in-out;
    
    }
}

@media only screen and (max-width: 490px){
    .item{
        font-size: 12px;
        font-weight: 500;
        color: #7510f7;
    
        cursor : pointer;
        text-decoration: none;
    
        border: #7510f7 solid 1.5px;
        border-radius: 20px;
    
        padding: 0.5rem 1rem;
    
        transition: all 0.2s ease-in-out;
        margin-left: 10px;
    }

    .item2{
        font-size: 12px;
        font-weight: 500;
        color: rgb(29, 29, 29);
        margin-left: 10px;
    
        text-decoration: none;
        cursor: pointer;
    
        transition: all 0.2s ease-in-out;
    
    }

}

