.container{
    padding: 1rem 1.5rem 4rem;
    background-color: #005CE6;
    background-image: linear-gradient(540deg, #005CE6 0%, #548ee6 100%);
    color: #fff;
    text-align: center !important;
    display: block;
    /* border: hotpink solid 1px; */

}

.inner {
    max-width: 1200px;
    margin: 0 auto;
}

.box{
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

/* 
.logo{

} */

.heading{
    width: 33.3333%;
    margin: 2rem auto;
    opacity: 0.7;
}

.heading h1{
    font-size: 1.5rem;
    font-weight: 300;
    margin: 2rem auto;
    line-height: 1.125;
}

.subbox{
    margin: 0 auto 3.5rem;
}



.socialicons {
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    margin-bottom: 2rem;
    width: 400px;
    background-color: white;
    border-radius: 50px;
    padding: 10px 0;
    /* opacity: 0.4; */
}


.socialicons a{
    display:flex;
    flex-direction: row;
    align-items: center;    
    justify-content: center;
 
}

.socialicons a{
    /* background-color: white; */
    /* border: white solid 2px ; */
    /* border-radius: 70px; */
    /* width: 60px;
    height: 60px; */
    transition: all 0.3s ease-in-out;
}

.socialicons a img{
    transition: all 0.2s ease-in-out;
}

/* .socialicons a img:hover{
    transform: scale(1.2);
} */

.socialicons a:hover{
    transform: scale(0.9);
}

.connect{
    font-weight: 500;
    width: 100px;
    color: black;
    /* border: blue solid 1px; */
}


.copyright{
    opacity: 0.7;
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.copyicon{
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 2rem;
    width: 2rem;
}

@media only screen and (max-width: 768px){
/*     .socialicons{
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        padding: 50px 0;
    }

    .socialicons a{
        padding: 5px 0;
    } */

    .heading{
        width:80%;
    }


}


@media only screen and (max-width: 430px){
    .socialicons{
        flex-wrap: wrap;
        width: 100%;
        flex-direction: column;
        padding: 50px 0;
    }

    .socialicons a{
        padding: 5px 0;
    }

    .heading{
        width:80%;
    }


}
